1. How to import pandas and check the version?

In [3]:
import pandas as pd
pd.__version__

'1.3.3'

2. How to create a series from a list, numpy array and dict?
Create a pandas series from each of the items below: a list, numpy and a dictionary

In [154]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
print(mylist)
print(myarr)
print(mydict)

['a', 'b', 'c', 'e', 'd', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25]
{'a': 0, 'b': 1, 'c': 2, 'e': 3, 'd': 4, 'f': 5, 'g': 6, 'h': 7, 'i': 8, 'j': 9, 'k': 10, 'l': 11, 'm': 12, 'n': 13, 'o': 14, 'p': 15, 'q': 16, 'r': 17, 's': 18, 't': 19, 'u': 20, 'v': 21, 'w': 22, 'x': 23, 'y': 24, 'z': 25}

In [155]:
slist = pd.Series(mylist)
sarr = pd.Series(myarr)
sdict = pd.Series(mydict)
#%who #print(%who)
#%whos
#%who
print(slist.head())
print(sarr.head())
print(sdict.head())

0    a
1    b
2    c
3    e
4    d
dtype: object
0    0
1    1
2    2
3    3
4    4
dtype: int64
a    0
b    1
c    2
e    3
d    4
dtype: int64

3. How to convert the index of a series into a column of a dataframe?
Difficulty Level: L1

Convert the series ser into a dataframe with its index as another column on the dataframe.

In [157]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
print(ser.head())

a    0
b    1
c    2
e    3
d    4
dtype: int64

In [167]:
df = ser.to_frame().reset_index()
df0 = ser.reset_index(drop=True)
df1 = ser.to_frame('test')
df2 = df1.reset_index()
print(df.head())
print(df1.head())
print(df2.head())
print(type(df0))
print (df0)

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4
   test
a     0
b     1
c     2
e     3
d     4
  index  test
0     a     0
1     b     1
2     c     2
3     e     3
4     d     4
<class 'pandas.core.series.Series'>
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64

4. How to combine many series to form a dataframe?
Difficulty Level: L1

Combine ser1 and ser2 to form a dataframe.

In [180]:

import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
#ser3 = pd.Series(dict(zip(mylist, myarr)))

print(ser3.head())

a    0
b    1
c    2
e    3
d    4
dtype: int64

In [190]:
df = pd.concat([ser1,ser2], axis=1)
print(df)

    0   1
0   a   0
1   b   1
2   c   2
3   e   3
4   d   4
5   f   5
6   g   6
7   h   7
8   i   8
9   j   9
10  k  10
11  l  11
12  m  12
13  n  13
14  o  14
15  p  15
16  q  16
17  r  17
18  s  18
19  t  19
20  u  20
21  v  21
22  w  22
23  x  23
24  y  24
25  z  25


5. How to assign name to the series’ index?
Difficulty Level: L1

Give a name to the series ser calling it ‘alphabets’.

In [194]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
print(ser.name)

None

In [200]:
ser = ser.rename("alphabets")
print(ser.name)
print(ser.to_frame())

alphabets
   alphabets
0          a
1          b
2          c
3          e
4          d
5          f
6          g
7          h
8          i
9          j
10         k
11         l
12         m
13         n
14         o
15         p
16         q
17         r
18         s
19         t
20         u
21         v
22         w
23         x
24         y
25         z

6. How to get the items of series A not present in series B?
Difficulty Level: L2

From ser1 remove items present in ser2.

In [201]:
#From ser1 remove items present in ser2.

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
print (ser1, "\n", ser2)

0    1
1    2
2    3
3    4
4    5
dtype: int64
 0    4
1    5
2    6
3    7
4    8
dtype: int64

In [140]:


#df = ser1.drop([])
df = ser1[~ser1.isin(ser2)]
af = ser1[ser1.isin(ser2)]
cf = ser1[ser2.isin(ser2)]
ef = ser2.isin(ser1)


print (df, "\n", af, "\n", cf, "\n", ef)

0    1
1    2
2    3
dtype: int64
 3    4
4    5
dtype: int64
 0    1
1    2
2    3
3    4
4    5
dtype: int64
 0     True
1     True
2    False
3    False
4    False
dtype: bool


7. How to get the items not common to both series A and series B?
Difficulty Level: L2

Get all items of ser1 and ser2 not common to both.

In [ ]:

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?
Difficuty Level: L2
Compute the minimum, 25th percentile, median, 75th, and maximum of ser.

In [150]:


ser = pd.Series(np.random.normal(10, 5, 25))
print(ser)
print(ser.describe())
print(ser.min())
print(ser.quantile(q=0.25))
print(ser.median())
print(ser.max())

0     10.203084
1      9.460674
2     11.842658
3     14.996299
4     14.833276
5     12.044868
6      9.408067
7     13.923975
8     10.053492
9      9.028147
10     6.841130
11     5.362647
12     8.797463
13     1.924154
14    12.431714
15    11.945299
16    13.386268
17    10.309310
18     8.409167
19    11.698878
20    11.485078
21    12.909975
22    17.735103
23     0.824573
24     6.992689
dtype: float64
count    25.000000
mean     10.273919
std       3.870914
min       0.824573
25%       8.797463
50%      10.309310
75%      12.431714
max      17.735103
dtype: float64
0.8245725730681102
8.797463109566403
10.309310229207352
17.735102779274104


9. How to get frequency counts of unique items of a series?
Difficulty Level: L1

Calculte the frequency counts of each unique value ser.

In [202]:


ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [205]:
print(ser.value_counts())
print(ser)

c    8
e    5
d    4
f    4
b    3
g    3
a    2
h    1
dtype: int64
0     e
1     e
2     b
3     d
4     b
5     d
6     a
7     f
8     b
9     c
10    a
11    f
12    g
13    c
14    e
15    d
16    c
17    c
18    h
19    c
20    c
21    d
22    c
23    g
24    e
25    g
26    f
27    f
28    c
29    e
dtype: object



10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?
Difficulty Level: L2
From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.

In [236]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

In [237]:
print(ser.value_counts())
#print(ser.value_counts().reset_index())
print((ser.value_counts().index ))
print (list(ser.value_counts().index ))
print(ser.replace(list(ser.value_counts().index)[2:], value='Other'))

print(ser)

3    4
4    4
2    3
1    1
dtype: int64
Int64Index([3, 4, 2, 1], dtype='int64')
[3, 4, 2, 1]
0     Other
1         3
2         3
3         3
4         4
5     Other
6         4
7     Other
8     Other
9         4
10        4
11        3
dtype: object
0     2
1     3
2     3
3     3
4     4
5     2
6     4
7     1
8     2
9     4
10    4
11    3
dtype: int64